---
page_title: "{{.Name}} {{.Type}} - {{.RenderedProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

~> If you previously configured Rulesets using the dashboard,
you first need to delete them ([zone](https://api.cloudflare.com/#zone-rulesets-delete-zone-ruleset),
[account](https://api.cloudflare.com/#account-rulesets-delete-account-ruleset) documentation)
and clean up the resources before attempting to configure them with
Terraform. This is because Terraform will fail to apply if configuration
already exists to prevent blindly overwriting changes.

~> `enabled` has been immediately deprecated in favour of
`status`. You should swap over to ensure that your configuration doesn't
have inconsistent operations and inadvertently disable rulesets.

{{ if .HasExample -}}
## Example Usage

{{ tffile (printf "%s%s%s" "examples/resources/" .Name "/resource.tf") }}
{{- end }}

{{ .SchemaMarkdown | trimspace }}

{{ if .HasImport -}}
## Import

Import is supported using the following syntax:

{{ codefile "shell" (printf "%s%s%s" "examples/resources/" .Name "/import.sh") }}
{{- end }}
