---
page_title: "{{.Name}} {{.Type}} - {{.RenderedProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

{{ if .HasExample -}}
## Example Usage

{{codefile "terraform" .ExampleFile}}
{{- end }}
{{ .SchemaMarkdown | trimspace }}

{{ if .HasImport -}}
## Import

Note: The "certificate" field cannot be imported by this module and must be manually added to state.

Import is supported using the following syntax:

{{codefile "shell" .ImportFile}}
{{- end }}
