---
page_title: "{{.Name}} {{.Type}} - {{.RenderedProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

~> Requires Cache Reserve subscription.

Provides a Cloudflare [Cache Reserve][cache-reserve] resource. Cache
Reserve can increase cache lifetimes by automatically storing all
cacheable files in Cloudflare's persistent object storage buckets.

-> Using Cache Reserve without [Tiered Cache][tiered-cache] is not recommended.

[cache-reserve]: https://developers.cloudflare.com/cache/advanced-configuration/cache-reserve
[tiered-cache]: https://developers.cloudflare.com/cache/how-to/tiered-cache

{{ if .HasExample -}}
## Example Usage

{{ tffile (printf "%s%s%s" "examples/resources/" .Name "/resource.tf") }}
{{- end }}

{{ .SchemaMarkdown | trimspace }}
