---
layout: ""
page_title: "Provider: Cloudflare"
description: |-
  The Cloudflare provider provides resources to interact with the Cloudflare API.
---

# Cloudflare Provider

The Cloudflare provider is used to interact with resources supported by
Cloudflare. The provider needs to be configured with the proper credentials
before it can be used.


!> The 4.x version of the provider is an early release candidate. It may contain
bugs and backwards incompatible state modifications. **You should not use it in
production you are clear on the ramifications and have a clear backup plan in
the event of breakages.**<br><br>For production usage, the 3.x release is
recommended using the `~> 3` provider version selector.

## Getting Started

Try the [getting started tutorial](https://developers.cloudflare.com/terraform/tutorial/)
on [developers.cloudflare.com](https://developers.cloudflare.com). In the walk
through, you will setup Terraform and learn to manage Cloudflare resources such
as DNS records, zone settings, load balancers and much more!

## Example Usage

{{ tffile "examples/provider/provider.tf" }}

{{ .SchemaMarkdown | trimspace }}
