---
page_title: "{{.Name}} {{.Type}} - {{.RenderedProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

~> **Note** Cloudflare zone names **are not unique**. It is possible for multiple
accounts to have the same zone created but in different states. If you are
using this setup, it is advised to use the `account_id` attribute on this
resource or swap to `cloudflare_zones` to further filter the results.

{{ if .HasExample -}}
## Example Usage

{{ tffile (printf "%s%s%s" "examples/data-sources/" .Name "/data-source.tf") }}
{{- end }}

{{ .SchemaMarkdown | trimspace }}
