---
page_title: "{{.Name}} {{.Type}} - {{.RenderedProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

~> Requires Cache Reserve subscription.

Provides a Cloudflare data source to look up [Cache Reserve][cache-reserve]
status for a given zone.

[cache-reserve]: https://developers.cloudflare.com/cache/advanced-configuration/cache-reserve

{{ if .HasExample -}}
## Example Usage

{{ tffile (printf "%s%s%s" "examples/data-sources/" .Name "/data-source.tf") }}
{{- end }}

{{ .SchemaMarkdown | trimspace }}
