name: Unit Tests
on: [push, pull_request]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        go: [1.15]
        os: [ubuntu-latest, macos-latest]
        make_target: [test, vet]

    steps:
      - name: Set up Go
        uses: actions/setup-go@v1
        with:
          go-version: ${{ matrix.go }}
        id: go

      - name: Check out code repository source code
        uses: actions/checkout@v2

      # https://help.github.com/en/actions/reference/workflow-commands-for-github-actions
      - name: Set build variables
        run: |
          echo "::set-env name=MAKE_TARGET::${{ matrix.make_target }}"
      - name: Run ${{matrix.make_target}}
        run: |
          make $MAKE_TARGET
